<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Environment Awareness </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #e6f4e6;
      font-family: 'Arial', sans-serif;
      padding: 50px;
    }
    .event-card {
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      max-width: 600px;
      margin: auto;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
  </style>
</head>
<body>
  <div class="event-card">
    <h2 class="text-success">Environment Awareness </h2><br>
    <p><strong>Date:</strong> July 10, 2025</p><br>
    <p><strong>Time:</strong> 9 AM – 12 PM</p><br>
    <p><strong>Venue:</strong> green campus</p><br>
    <p><strong>Category:</strong> Awareness</p><br>
    <p><strong>Description:</strong> <br>
        Join us for a special session on environmental protection, climate change, and sustainable living. <br>
         Activities include poster-making, eco-quiz, and a plantation drive. Let's make our campus greener and cleaner!</p>
    <a href="../templates/reg.html" class="btn btn-success mt-3">Register Now</a>
    </div>
</body>
</html>
